.gridcol{
    margin:15px;
    text-align: center;
    justify-content: center;
    
}
.grid{
    text-align: center;
    justify-content: center;
}
.row{
    text-align: center;
    justify-content: center; 

}